@font-face{
  /* font-family: leonidas; lo que sea */
  font-family: charter;
  src: url('../assets/fonts/charter-regular.otf');
  font-style: normal;
  font-weight: 400;
}
@font-face{
  /* font-family: leonidas; lo que sea */
  font-family: charter;
  src: url('../assets/fonts/charter-italic.otf');
  font-style: italic;
  font-weight: 400;
}
@font-face{
  /* font-family: leonidas; lo que sea */
  font-family: charter;
  src: url('../assets/fonts/charter-bold.otf');
  font-style: normal;
  font-weight: bold;
}
@font-face{
  /* font-family: leonidas; lo que sea */
  font-family: charter;
  src: url('../assets/fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: bold;
}
:root{
  font-size: 16px;
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
}
html{
  scroll-behavior: smooth;
}
/*Que todo el body HEREDE*/
body {
  color: var(--gray30);
  font-family: 'Roboto', sans-serif;
  margin: 0;

}

header{
  font-size: 14px;
  width: 188px;
  color: var(--gray10);
  position: absolute;
  top: 64px;
  /* left: -188px;  */
  /* pero hay margen entones logico, sacas el margen y le sunmas al -188*/
  left: -232px;
  /*
    con RELATIVE se activan top left bottom right z-index se activa con relative
     top 50px lo empuja hacia abajo como margin
     se mueve en toda la pagina sin importar si se pone arriba de cosas o se come
     no empuja y se enciman entonces viene el z-index
     y ocupa todo espacio fisico
     z-index -1(se va pa atras)
  */
  /*
    con ABSOLUTE se ubica donde esta el DOM, osea el div donde este, si
    tiene una imagen arriba o un header, y luego de header esta el div con absolute
    se pondra despues del header
    top right left bottom
    top 0, lo pone hasta arriba, botton 0 hasta abajo
    si pones top 0 y bottom 0, se estira dependiendo al view port
  */
  /*
    hacer un absoluto pero que sea relativo a un div
    al div padre le pones relative y le pones absolute al hijo
  */
  /*
    como absolute
    fixed te persigue si tu haces scroll, se mantiene
  */
  /*
    sticky como relative, ocupa todo el espacio
    se arrastra como vas haciendo scroll
  */

  /*
      RELATIVE
      es como static pero te permite hacer el top left right y bottom
      no empuja ni nada, si pones 10 pixeles para abajo se va a poner sin importar
      si sobreescribe algo
      Casi nunca se usa el top left bottom right
      relativo a su papa

      ABSOLUTE
      Remueve el div del DOM y actua como si no existiera, lo demas
      hace render, helpful si queremos pegar algo y no quieres que
      nada se mueva al rededor
      Busca un papa que no tenga de position static y a partir de
      ahi hace render y si le pones top 0 se pondra arriba de ese padre
      si no hay, se ira hasta arriba de toda la pagina
      lo mas comun es ponerle relative al papa

      FIXED
      Similar a absoluto
      Hacen fixed relacionado con el html, le vale sus parents, se
      va hasta el html
      Y se mueve en la pagina si haces scroll

      STICKY
      Combinacion de relative y fixed
      Es como relative pero cuando sale del view, se queda fixed







  */


}

/*Las a no heredan color, hay que ponerlos aparte*/
header a {
  color: var(--gray10);
  text-decoration: none;
}

header a:hover {
  color: var(--gray30);
}

nav details summary{
  font-weight: bold;
  line-height: 24px;
}
header li{
  margin-bottom: 16px;
}

h1{
  font-size: 60px;
  margin: 64px 0 16px 0; /*comes from figma*/
  font-weight: normal;

  /* font-size: 3.75em  60/16 */
  /* Pixeles son valores absolutos, un pixel va a ser aqui y en
  china*/

  /* Un valor relativo seria em */
  /* Para pasar de px a em */
  /* 60px y 4em seria igual a 240 pixeles (se multiplica)*/
  /* Si a body le pones font-size 10 px, todo lo va a hererad, pero
  si dentro de body hay un header, y a header le pones 2em, va a agarrar
  el valor mas cercano, en este caso lo hererado de body (10px) y
  se multiplicaria por 2, de los 2em = 20px
  Si ahora anhidas un li al header, y le pones 2em, el valor
  de un em es ya 20px que viene del mas cercano, el header
  entonces serian 20 x 2 = 40px para cada li*/

  /* 50vw view por width, lo que ve el  50% del view port*/


  /* 1rem toma el valor mas padre de todo el documento osea el html
  o el root

  y si pones 3rem, seria 3 veces el valor del padrote*/
}
/* h1 + p{
  background:red; (testing)
  Solo aplica al hermano directo
  si fuera ~ aplicaria a todos los p del mismo nivel
  margin-bottom: 64px;
  no se necesita porque ya hay margen natural y margin collapse
} */
hr{
  margin: 64px 0;
}

h2{
  font-size: 2em; /* El valor de html son 16px entonces toma ese
  y ya solo multiplicas 16 x 2 - 32 que es lo que pide el proyecto*/
  font-weight: normal;
  margin: 64px 0 0px 0;
}

h3{
  /* font-size: 24px; */
  font-size: 1.5em;
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: normal;
  position: sticky;
  top: 0;
  background: white;
}

pre{
  background: #FEC62E;
  padding: 40px;
  font-family: 'Roboto';
  line-height: 24px;
}
blockquote{
  font-size: 24px;
  margin: 32px 0;
  padding-left: 16px;
  border-left: 4px solid var(--gray30);
  line-height: 24px;
}
blockquote span{
  color: var(--gray10);
}
blockquote span::before{
  content: "-";
}
.header-content{
  position: relative;
}
.header{
  position: sticky;
  top: 0;
}
.main{

  /* background:red; */
  /* background-image: linear-gradient(to top, rgba(255,255,255,.3),transparent), url('../assets/pattern.png'); */
}
.wrapper{

  width: 902px;
  /* wrapper se encarga de dar tamano y centrar */
  margin: auto;

}
.main-content{

  /* padding: 20px; */
  background: white;


}
.hero{
  /* background-image: linear-gradient(to top, rgba(255,255,255,.3), red 10px,transparent), url('../assets/pattern.png'); */
  background-image: linear-gradient(to top, rgba(255,255,255,.3),transparent), url('../assets/pattern.png');
  /* Se multiplica por defecto, a menos que: */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: cover; */
  height: 350px;

}
.section-content ol li{
  line-height: 24px;

}
.section-content ul li{
  margin-bottom: 16px;

}
.section-content + hr{
  display: none;
}
.section-content img{
  margin-top: 40px;
}
.section-content{
  counter-reset: titleList;
  margin-top: 164px;
}
.section-content:first-of-type{
  margin: 0;
}
.section-content h3 {
  counter-increment: titleList;
  padding-bottom: 8px;
}
/* Pseudo elemento */
.section-content h3::before {
  /* content: "-"counter(titleList, upper-roman)"-"; */
  content: counter(titleList, decimal)". ";
}
.section-content h3::after {
  content: '';
  width: 80px;
  height: 4px;
  background: var(--gray30);
  /* tiene display inline lo que no puede tener height */
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;

}



